.jupyter/
data.zip
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.ipython/
.joe_state
.npm
.keras/
.local/
.node_repl_history
.nv/
.profile
.ssh/
.sudo_as_admin_successful
features/
infra/
shoml_data/
